@import"variables";
@import"modules";

@mixin mobile{
    @media(max-width: 768px){
        @content;
    }
}


@mixin tablet {
    @media (min-width: 769px) and (max-width: 1100px) {
      @content;
    }
}



* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: $background_color;
    font-family: $font_main;
    padding: 0 40px;

    nav {

        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            text-decoration: none;
            padding: 0 10px;
            transition: all 0.5s;

            &:hover {
                font-size: large;
                transition: all 0.7s;
            }
        }
    }

}

.navbar_left {

    display: flex;
    align-items: center;

    img {
        max-width: 50px;
        ;
    }

    a {
        font-size: 15px;
        font-weight: 600;
        border-right: 1px solid;
        color: $text_color;
    }
}

.navbar_right {

    a {
        font-size: 14px;
        color: $text_color_2;
    }

}

.main {
    background:linear-gradient(to top,$background_color 60%,rgb(215,215,215) 40%);
    text-align: center;
    display:flex;
    @include mobile{
        
        flex-direction: column;
        align-items: center;
    }
    @include tablet{
        flex-direction: column;
        align-items: center;
    }
    
    &_left {
        max-width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        padding: 70px 0;

        h1 {
            @extend %baslik; 
            font-size: 28px;
                     
        }
        h2{
            @extend %baslik;
            font-size: 24px;
            margin-top: 50px;
        }
        p{
            font-size: 20px;
            padding: 0 30px;
        }

        img {
            max-width: 200px;
            mix-blend-mode: darken;            
        }

        button{
            @extend %btn;
            transition: all 0.5s;            
        }

    }

    &_right{
        display: flex;
        flex-direction: column;
        align-items: center;
        .img-1{
            max-width: 900px;
            transition: 0.3s;
            @include mobile{
                max-width: 400px;
            }
            @include tablet{
                max-width: 600px;
            }
            &:hover{
                transform: translate(-200px,50px);
                transition: 0.5s;
            }
        }
        .img-2{
            max-width: 300px;
            mix-blend-mode: darken;
        }
        p{
            width: 50%;
            padding-bottom:50px;
        }
    }
}


.icdizayn{
    background: radial-gradient(circle, rgba(0, 0, 0, 0.5) 10%, black),url(images/interior.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px 0;
    gap: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    h1{
        @extend %baslik;
        font-size: 30px;
        margin-bottom: 20px;
    }
    p{
        font-size: 22px;
        width: 30%;
    }
    button{
        @extend %btn-2;        
    }
}


.arabalar{
    text-align: center;
    padding-bottom: 50px;
    background-color:$background_color;
    h1{
        @extend %baslik;
        padding: 50px 0;
    }
    img{
        max-width: 350px;
        mix-blend-mode: darken;               
    }
    &_model{
        display: flex;
        justify-content: space-around;
        @include mobile{       
            flex-direction: column;
            align-items: center;
        }
        @include tablet{
            flex-direction: column;
            align-items: center;
        } 
    }
    button{        
        @extend %btn-3;
    }
}

.dis{
    color: white;
    background:radial-gradient(circle,rgba(0,0,0,0.5) 10%, black),url(images/exterior-4.jpg);
    background-size: cover;
    background-position-y: center;
    &_ust{
        display: block;
        text-align: center;
        line-height: 200px;
        h1{
            @extend %baslik;
            font-size: 28px;
        }
        p{
            font-size: 20px;
            white-space:pre-line;
            line-height: 24px;            
        }
        button{
            @extend %btn-2;
        }
    }
    &_alt{
        background-color: black;
        
        display: flex;
        align-items: center;
        padding-right: 50px;
        gap: 15px;
        img{
            width: 20%;
        }
    }
}